<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-card *ngIf="user">
      <img mat-card-lg-image [src]="user.image || defaultImageUrl">
      <mat-card-title>
        {{user.name }}
      </mat-card-title>
    </mat-card>
    <mat-nav-list *ngIf="hasRole('LECTURER, STUDENT')">
      <h3 mat-subheader>Student</h3>
      <a style="margin-left:30px;" mat-list-item [routerLink]="['/list']" routerLinkActive="router-link-active">List</a>
      <a style="margin-left:30px;" mat-list-item [routerLink]="['/add']" routerLinkActive="router-link-active">Add</a>
      <a style="margin-left:30px;" mat-list-item [matMenuTriggerFor]="menu">View</a>
      <mat-menu #menu="matMenu">
        <div *ngFor="let student of students$ | async">
          <a mat-menu-item style="text-decoration:none" [routerLink]="['detail',student.id]" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ __change_detection_hack__: [ id ] }">
            {{student.name}}</a>
        </div>
        <!-- <a mat-menu-item style="text-decoration:none">Item 2</a> -->
      </mat-menu>
    </mat-nav-list>
    <mat-nav-list *ngIf="hasRole('LECTURER')">
      <h3 mat-subheader>Course</h3>
      <a style="margin-left:30px;" mat-list-item [routerLink]="['course','list']" routerLinkActive="router-link-active">List</a>
      <a style="margin-left:30px;" mat-list-item [routerLink]="['course','add']" routerLinkActive="router-link-active">Add</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>lab01</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
